@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!-- Adicionando a logo e o título em um contêiner flexível -->
    <div style="display: flex; align-items: center; justify-content: center; gap: 10px; margin-bottom: 20px;">
        <img src="~/favicon.png" alt="Logo Receitas Literárias" style="width: 70px; height: auto;">
        <h1 class="display-4" style="margin: 0;">Receitas Literárias</h1>
    </div>

    <p class="justificado">
        As Receitas Literárias têm como objetivo proporcionar aos usuários indicações literárias que promovam uma experiência de leitura terapêutica. A proposta é que os participantes possam refletir sobre suas opiniões, emoções e sentimentos antes, durante ou após a leitura de uma obra, criando um espaço acolhedor para compartilhar suas experiências. Além disso, promover o debate de ideias e a pluralidade de opiniões, sempre com respeito, empatia e livre de julgamentos.
    </p>
    <p class="justificado">
        É importante ressaltar que as Receitas Literárias não têm a intenção de substituir tratamentos médicos ou psicológicos, mas sim de complementar o bem-estar dos participantes. O objetivo é oferecer um espaço de apoio emocional através da literatura, enriquecendo a vida dos leitores e contribuindo para a saúde mental de todos aqueles que são apaixonados por livros.
    </p>
    <p><strong>Selecione uma enfermidade para começar a sua jornada literária!</strong></p>
</div>

<style>
    .justificado {
        text-align: justify;
    }
</style>



